{
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext",
        "prettier"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
      "space-in-parens": 0
    }
}
