@use "../constants/typography" as *;

/**
 * Accessible typography:
 * https://matejlatin.medium.com/5-keys-to-accessible-web-typography-2ff9de3157f5
 */
html {
	font-size: 100%;
}

// TODO: Remove testing styles
* {
	font-family: $f-family-primary !important;
	font-weight: 700;
}
