// Default styles to be animated by JS
.js-masthead {
	position: sticky; // must not be 'fixed', so the main nav can open without JS
	top: 0;

	.js-header-logo {
		opacity: 0;
	}
}

// Non-animated styles
.js-masthead {
	width: 100%;
}

// Override style.css from Underscores
.main-navigation {
	width: auto;
}
