@use '../mixins/menu' as *;

// Vars passed to @mixin menu.
// See usage guide in _menu.scss for more detail
$location: 'header';
$has-drawer: true;

.foh-drawer {
  // See params usage guide in _menu.scss where the @mixin is defined
  @include menu($location, $has-drawer);
}
