@use '../mixins/menu' as *;

// Vars passed to @mixin menu.
// See usage guide in _menu.scss for more detail
$location: 'header';
$has-drawer: true;

// z-index usage documented in: themes/foh-test/template-parts/header/header-masthead.php

.main-navigation {
  .foh-drawer {
    // Just testing
    background-color: rgba(150, 150, 250, 1) !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    transform: translateY(-100%);
    
    &:target {
      transform: translateY(0);
      position: relative;
    }

    body:has(&:target) {
      overflow: hidden;
    }

    @media screen and (min-width: 768px) {
        position: relative;
        width: auto;
        height: auto;
        transform: translateY(0);
    }

    // See params usage guide in _menu.scss where the @mixin is defined
    @include menu($location, $has-drawer);
  }
}

