@use '../mixins/menu' as *;

// Vars passed to @mixin menu.
// See usage guide in _menu.scss for more detail
$location: 'header';
$has-drawer: true;

.main-navigation {
  .js-menu-toggle-link,
  .js-menu-toggle-button {
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  // Just testing
  .js-menu-toggle-button {
    background: rgba(255,255,0,0);
  }

  .foh-drawer {
    // Just testing
    background-color: rgba(0, 0, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    transform: translateY(-100%);
    
    &:target {
      transform: translateY(0);
      position: relative;
    }

    @media screen and (min-width: 768px) {
        position: relative;
        width: auto;
        height: auto;
        transform: translateY(0);
    }

    // See params usage guide in _menu.scss where the @mixin is defined
    @include menu($location, $has-drawer);
  }
}

