/* Nest this mixin inside a selector to provide context */

// Params
// $location, $has-drawer
// $location: ['header' | 'footer]    Corresponds to WP menu location
// $has-drawer: [true | false]        Does this menu ever want to be displayed as a drawer?

// Usage
// Footer: ('footer', false)
// Header (previously): ('header', true)   e.g. menu appears with no drawer on wide viewports.

@mixin menu($location, $has-drawer: true) {
  // Base menu styles:
  // These styles apply only to the full menu list in any location,
  // both in and out of the drawer.
  // Some of these are overridden below for different use cases (see comments) 
  ul {
    width: 100vw; // test hovering over menu items if you're thinking of removing this

    a {
      // padding appropriate to center-aligned text
      @apply text-center py-2 px-0;
      @apply text-brand-white inline-block w-full no-underline;

      &:hover {
        @apply text-white bg-white/10;
      }

      &:active {
        @apply text-white/70;
      }
    }

    // Drawer menu styles:
    // These styles apply within the drawer,
    // and to the full list when displayed outside of the drawer.
    // These styles may override some Base menu styles defined above, 
    // which apply to menus outside a drawer in various locations (e.g. footer).
    @if ($has-drawer) {
      @apply pt-10;

      a {
        // padding appropriate to left-aligned text
        @apply text-left py-2 pl-10 pr-0;

        &:hover {
          border: none;
        }
      }
    }

    @if ($location == 'header') {
      @media screen and (min-width: --theme(--breakpoint-md)) {
        // Full list menu styles outside of drawer (when drawer is present but closed):
        // These styles apply only to the full list when displayed outside the drawer
        // These styles may override both Base and Drawer menu styles defined above.
        @apply flex justify-end w-auto pt-0;

        li {
          padding-right: 1ch;

          &:first-of-type {
            padding-left: 1ch;
          }

          a {
            @apply pl-0 no-underline border-0 border-b-2 border-brand-white/0 text-brand-white;
      
            &:hover {
              @apply border-0 border-b-2 border-brand-white bg-transparent;
            }
      
            &:active {
              @apply text-white/70 border-white/70;
            }
          }
        }
      }
    }

    @if ($location == 'footer') {
      a:hover {
        @apply text-brand-white border-0;
      }
    }
  }
}
