/* Nest this mixin inside a selector to provide context */

// Params
// $location, $has-drawer
// $location: ['header' | 'footer]    Corresponds to WP menu location
// $has-drawer: [true | false]        Does this menu ever want to be displayed as a drawer?

// Usage
// Footer: ('footer', false)
// Header (previously): ('header', true)   e.g. menu appears with no drawer on wide viewports.

// TODO: ADD LOGIC THAT USES THE NEW PARAM TO CONTROL THE FLOW
@mixin menu($location, $has-drawer: true) {
  // Base menu styles:
  // These styles apply only to the full menu list in any location,
  // both in and out of the drawer.
  // Some of these are overridden below for different use cases (see comments) 
  ul {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    width: 100vw;

    li {
      list-style-type: none;
      display: block;
      
      // font-size: $line-height + rem;
      // font-family: $f-family-primary;
      // font-weight: $f-weight-light;
      // line-height: $line-height;
      
      text-align: center;
      // padding: $size-0-5 + rem 0;
      padding: 0.5rem 0;
    
      &:hover {
        color: white;
        // background-color: $white-overlay-light;
        background-color: rgba(255, 255, 255, 0.1);
      }
  
      a {
        // color: $brand-white;
        color: rgba(238, 237, 239, 1);
        text-decoration: none;
  
        &:active {
          // color: $white-overlay-medium;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    @if ($has-drawer) {
      // Drawer menu styles:
      // These styles apply within the drawer,
      // and to the full list when displayed outside of the drawer.
      // These styles may override some Base menu styles defined above.
      width: 75vw;
      // max-width: $size-24 + rem;
      max-width: 24rem;
      min-height: 100%;

      li {
        text-align: left;
        // padding: $size-0-5 + rem 0 $size-0-5 + rem $size-2 + rem;
        padding: 0.5rem 0 0.5rem 2rem;
        &:first-of-type {
          // margin-top: $size-4 + rem;
          margin-top: 4rem;
        }

        a:hover {
          border: none;
        }
      }
    }

    @if ($location == 'header') {
      // @media (min-width: $br-mini-menu + px) {
      @media (min-width: 720px) {

        // Full list menu styles outside of drawer (when drawer is present but closed):
        // These styles apply only to the full list when displayed outside the drawer
        // These styles may override both Base and Drawer menu styles defined above.
        display: flex;
        top: 0;
        height: auto;
        width: auto;
        background: none;
        justify-content: flex-end;
        box-shadow: none;
        border-top: none;
        // padding: $size-0-5 + rem 0;
        padding: 0.5rem 0;
        // font-size: $f-0-8 + rem;
        font-size: 0.8rem;
  
        li {
          padding-left: 0;
          padding-right: 1ch;
          
          &:first-of-type {
            margin-top: 0;
          }
  
          &:last-child {
            padding-right: 0;
          }
  
          &:hover {
            background: none;
          }
  
          a {
            // color: $brand-white;
            color: rgba(238, 237, 239, 1);
            text-decoration: none;
            border-style: solid;
            // border-width: 0 0 $b-width-md + px 0;
            border-width: 0 0 2px 0;
            border-color: rgba(0, 0, 0, 0);
      
            &:hover {
              border-style: solid;
              // border-width: 0 0 $b-width-md + px 0;
              border-width: 0 0 2px 0;
              // border-color: $brand-white;
              border-color: rgba(238, 237, 239, 1);
            }
      
            &:active {
              // color: $white-overlay-medium;
              color: rgba(255, 255, 255, 0.7);
              // border-color: $white-overlay-medium;
              border-color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }

      // @media (min-width: $desktop-lower + px) {
      @media (min-width: 990px) {
        // font-size: $f-0-8 + rem;
        font-size: 0.8rem;
      }
    }

    @if ($location == 'footer') {
      a:hover {
        // color: $brand-white;
        color: rgba(238, 237, 239, 1); ;
        border: none;
      }
    }
  }
}
