
@use "../constants/breakpoints" as *;
@use "../constants/color" as *;
@use "../constants/spacing" as *;
@use "../mixins/resets" as *;
@use "../utils/functions" as *;

/* Nest this mixin inside a selector to provide context */

// Params
// $location, $has-drawer
// $location: ['header' | 'footer]    Corresponds to WP menu location
// $has-drawer: [true | false]        Does this menu ever want to be displayed as a drawer?

// Usage
// Footer: ('footer', false)
// Header (previously): ('header', true)   e.g. menu appears with no drawer on wide viewports.

@mixin menu($location, $has-drawer: true) {
  // Base menu styles:
  // These styles apply only to the full menu list in any location,
  // both in and out of the drawer.
  // Some of these are overridden below for different use cases (see comments) 
  ul {
    @include foh-list-reset;
    width: 100vw; // test hovering over menu items if you're thinking of removing this

    a {
      // padding appropriate to center-aligned text
      text-align: center;
      padding: to-rem(2 * $spacing) 0;
      display: inline-block;
      text-decoration: none;
      width: 100%;
      color: $brand-white;

      &:hover {
        color: white;
        background-color: $white-10
      }

      &:active {
        color: hsla(0, 0%, 100%, 0.7);
      }
    }

    // Drawer menu styles:
    // These styles apply within the drawer,
    // and to the full list when displayed outside of the drawer.
    // These styles may override some Base menu styles defined above, 
    // which apply to menus outside a drawer in various locations (e.g. footer).
    @if ($has-drawer) {
      padding-top: to-rem(10 * $spacing);

      a {
        // padding appropriate to left-aligned text
        padding-top: to-rem(2 * $spacing);
        padding-right: 0;
        padding-bottom: to-rem(2 * $spacing);
        padding-left: to-rem(10 * $spacing);
        text-align: left;

        &:hover {
          border: none;
        }
      }
    }

    @if ($location == 'header') {
      @media screen and (min-width: $breakpoint-3xl) {
        // Full list menu styles outside of drawer (when drawer is present but closed):
        // These styles apply only to the full list when displayed outside the drawer
        // These styles may override both Base and Drawer menu styles defined above.
        display: flex;
        justify-content: end;
        width: auto;
        padding-top: 0;

        li {
          padding-right: 1ch;

          &:first-of-type {
            padding-left: 1ch;
          }

          a {
            color: $brand-white;
            padding-left: 0;
            text-decoration: none;
            border-bottom: 2px solid transparent; // placeholder
            
            &:hover {
              border-bottom: 2px solid $brand-white;
            }
      
            &:active {
              color: hsla(0, 0%, 100%, 0.7);
              border-color: hsla(0, 0%, 100%, 0.7);
            }
          }
        }
      }
    }

    @if ($location == 'footer') {
      a:hover {
        color: $brand-white;
        border: none;
      }
    }
  }
}
