:root {
	// Brand tokens - primary
	--color-ocean-blue: #3377dd;
	--color-neon-lemon: #ffff11;
	--color-sand: #eeedef;

	// Brand tokens - semantic
	--color-brand-primary: var(--color-ocean-blue);
	--color-brand-onprimary: var(--color-neon-lemon);
}

$brand-white: var(--color-sand);
$white-10: hsla(0, 0%, 100%, 0.1);
