// style.css in the theme root contains the theme info required by WordPress.
// It also contains some fallback styles (super basic starter ones that shipped with Underscores)

/* Vendor */
@use "tailwindcss";

/* Global */
@use "modules/base";
@use "modules/header";
@use "modules/main-nav";

/* Home */



